@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Oswald:wght@500;700&family=Poppins:wght@300;600&family=Inter:wght@400;500&display=swap');
@import "tailwindcss";


@theme {
  --font-logo: "Montserrat", sans-serif;
  --font-heading: "Poppins", "Oswald", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-accent: #00AD5D;
  --color-dark: #111812;
  --color-light: #fbfff4;
}

@layer utilities {
  .text-fluid-h1 {
    @apply font-heading leading-tight font-[550];
    font-size: clamp(1.5rem, 1rem + 3vw, 4rem); /* ~32px → ~56px */
  }
  .text-fluid-h2 {
    @apply font-heading font-semibold md:font-medium leading-snug;
    font-size: clamp(1.5rem, 0.5rem + 2.5vw, 3rem);
  }
  .text-fluid-h3 {
    @apply font-heading font-medium;
    font-size: clamp(1.25rem, 0.5rem + 2vw, 2rem);
  }
  .text-fluid-p {
    @apply font-body;
    font-size: clamp(1rem, 0.3rem + 1vw, 1.125rem); /* 16–18px */
  }
  .text-fluid-small {
    @apply font-body;
    font-size: clamp(0.75rem, 0.5rem + 0.5vw, 0.875rem); /* 12–14px */
  }
}

html {
  @apply scroll-smooth;
  scroll-padding-top: 64px;
}

@media (min-width: 1024px) {
  html {
    scroll-padding-top: 84px;
  }
}

body {
  @apply bg-light text-gray-600 overflow-x-hidden;
}

h1, h2, h3 {
  @apply text-dark;
}

li {
  @apply hover:text-accent/50 active:text-accent hover:scale-105 duration-300 transition-colors active:scale-95 text-gray-950 hover:font-medium;
}

section {
  @apply py-10 md:py-14;
}

.link-active {
  @apply text-accent font-semibold;
}

.swiper-pagination-bullet {
  background-color: theme("colors.accent") !important;
}

.swiper-pagination-bullet-active {
  background-color: theme("colors.accent") !important;
  transform: scale(1.05) !important;
}

::selection {
  @apply bg-accent/50;
}